[submodule "external/taglib"]
	path = external/taglib
	url = https://github.com/taglib/taglib.git
[submodule "external/godot-cpp"]
	path = external/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
